.header__bg {
  background: linear-gradient(88.27deg, #574ae8, #3ea1db 100%);
}

.header {
  padding: 42px 0px;
}

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.search {
  position: relative;
}

.search::before {
  z-index: 2;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  position: absolute;
  background: url("./../img/icons/search.svg");
}

.search input {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
  padding: 0 50px;
  position: relative;
}

input::placeholder {
  color: var(--cor-w);
  opacity: 0.5;
}
